# Data directories
grafana/data/
influxdb/data/
influxdb/config/
loki/data/
mqtt/data/
mqtt/log/
mqtt-collector/logs/
pcap/*.pcap0
pcap/*.pcap
suricata/logs/
zeek/logs/
traffic-monitor/__pycache__/

# OS files
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
pcap_old/
cleanup.log
